.main {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 25px 0;
}

.demo {
  width: 407px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
}

.demo img {
  width: 407px;
  height: 300px;
  transition: scale 0.4s ease;

  &:hover {
    scale: 1.02;
  }
}
