/* Цвета проекта */
$colorBlack: #1a1a24;
$colorBlackAccent: #191923;
$colorDarkGray: #22222a;
$colorGray: #2c2c35;
$colorGrayDarkText: #808085;
$colorGrayText: #bababd;
$colorWhite: #ffffff;
$colorWhiteShadow: #cddfed;
$colorGrayLine: #47474f;

$colorTabBackground: #14141c;
$colorTabActive: #595960;
