@use '../../../styles/variables.scss' as variables;

.companies {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 1px;
  padding: 16px 0;
}

.images {
  display: flex;
  gap: 40px;
  animation: move 30s linear infinite;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  flex-shrink: 0;
}

.image {
  height: 100%;
  width: auto;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
