@use '../../../styles/variables.scss' as variables;
@use '../../../styles/breakpoints.scss' as breakpoint;

.companies {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 1px;
  padding: 16px 0;

  @include breakpoint.tablet {
    position: static;
    animation: move 20s linear infinite;
  }
}

.images {
  display: flex;
  gap: 40px;
  animation: moveDesktop 30s linear infinite;

  @include breakpoint.tablet {
    animation: moveMobile 10s linear infinite;
  }

  @include breakpoint.mobile {
    animation: moveMobile 5s linear infinite;
  }
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  flex-shrink: 0;
}

.image {
  height: 100%;
  width: auto;
}

@keyframes moveDesktop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
