@use '../../../styles/variables.scss' as variables;
@use '../../../styles/breakpoints.scss' as breakpoint;

.companies {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 1px;
  padding: 16px 0;

  @include breakpoint.tablet {
    position: static;
  }
}

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 70px;
  flex-shrink: 0;
}

.image {
  max-height: 70px;
  width: auto;
}
