@use '../../../styles/variables.scss' as variables;

.goals {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 5px 10px 25px 10px;
}

.goals p {
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  width: 250px;
}

.line {
  height: 2px;
  background-color: variables.$colorGrayLine;
}
