@use '../../../../styles/variables.scss' as variables;
@use '../../../../styles/breakpoints.scss' as breakpoint;

.technologyHeader {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.info h1 {
  font-size: 40px;
  font-weight: 500;
}

.info svg {
  min-width: 80px;
  min-height: 80px;
  width: 80px;
  height: 80px;
  border-radius: 26px;
}

.technology {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.grade {
  display: flex;
  flex-direction: row;
  gap: 2px;
  cursor: help;

  &:hover {
    .hint {
      opacity: 1;
      visibility: visible;
    }
  }
}

.grade svg {
  min-width: 25px;
  min-height: 25px;
  width: 25px;
  height: 25px;
}

.hint {
  position: absolute;
  left: 230px;
  color: variables.$colorGrayLine;
  font-size: 15px;
  max-width: 310px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.line {
  height: 1px;
  background-color: variables.$colorWhiteShadow;
}

.description {
  font-size: 16px;
}

.time {
  @media only screen and (max-width: 950px) {
    display: none;
  }
}

.time h2 {
  font-size: 45px;
  font-weight: 500;

  @include breakpoint.netbook {
    font-size: 32px;
  }
}

.backgroundIcon {
  position: absolute;
  top: -200px;
  right: -150px;
  z-index: -1;
}

.backgroundIcon svg {
  width: 550px;
  height: 550px;
  z-index: -1;
}
